*.swo
*.swp
~*
.DS_Store
.vs/
.vscode/
.idea/
*.exe
node_modules/

# go coverage files
coverage.out
coverage.txt
coverage.html

/build/
/next
/cmd/nextls/nextls
installer-temp.wsx
*.wixobj
installer-*.wxs