<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Next" Language="1033" Version="1.0.0.0" Manufacturer="Next" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Next">
          <Component Id="Next" Guid="COMPONENT-GUID-1">
            <File Id="Next" Source="build/next.${{ env.RELEASE_VERSION }}.windows-amd64/bin/next.exe" KeyPath="yes" />
            <File Id="Nextls" Source="build/next.${{ env.RELEASE_VERSION }}.windows-amd64/bin/nextls.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Next" Level="1">
      <ComponentRef Id="Next" />
    </Feature>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="SetPath" Guid="COMPONENT-GUID-2">
        <Environment Id="PathEnvVar" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
