<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Next" Language="1033" Version="NEXT_VERSION" Manufacturer="Next" UpgradeCode="GUID-1">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Next">
          <Component Id="Next" Guid="GUID-2">
            <File Id="Next" Source="build/windows-ARCH/bin/next.exe" KeyPath="yes" />
          </Component>
          <Component Id="Nextls" Guid="GUID-3">
            <File Id="Nextls" Source="build/windows-ARCH/bin/nextls.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="SetPath" Guid="GUID-4">
        <Environment Id="PathEnvVar" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="Next" Level="1">
      <ComponentRef Id="Next" />
      <ComponentRef Id="Nextls" />
      <ComponentRef Id="SetPath" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="scripts/LICENSE.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  </Product>
</Wix>
