<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Next" Language="1033" Version="1.0.0.0" Manufacturer="Next" UpgradeCode="14636BB3-3DFA-407B-B659-D97DA4CDE807">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Next">
          <Component Id="Next" Guid="ACA2C51C-866B-4994-B6BE-0FF101589FC4">
            <File Id="Next" Source="build/next.${{ env.RELEASE_VERSION }}.windows/bin/next.exe" KeyPath="yes" />
          </Component>
          <Component Id="Nextls" Guid="15A04E67-76CB-4980-9C92-EBC97E59CCEA">
            <File Id="Nextls" Source="build/next.${{ env.RELEASE_VERSION }}.windows/bin/nextls.exe" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Next" Level="1">
      <ComponentRef Id="Next" />
      <ComponentRef Id="Nextls" />
    </Feature>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="SetPath" Guid="42227732-9F82-4C66-B3DF-361A667A108C">
        <Environment Id="PathEnvVar" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="last" System="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
